[submodule "submodules/tagbar"]
	path = submodules/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "submodules/neocomplcache"]
	path = submodules/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule "submodules/nerdtree"]
	path = submodules/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "submodules/vim-javascript"]
	path = submodules/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "submodules/vim-powerline"]
	path = submodules/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "submodules/cocoa.vim"]
	path = submodules/cocoa.vim
	url = https://github.com/msanders/cocoa.vim.git
[submodule "submodules/html5.vim"]
	path = submodules/html5.vim
	url = https://github.com/othree/html5.vim.git
[submodule "submodules/vim-rails"]
	path = submodules/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "submodules/autoclose"]
	path = submodules/autoclose
	url = https://github.com/Townk/vim-autoclose
[submodule "submodules/endwise"]
	path = submodules/endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "submodules/command-t"]
	path = submodules/command-t
	url = git://git.wincent.com/command-t.git
[submodule "submodules/vim-jst"]
	path = submodules/vim-jst
	url = https://github.com/briancollins/vim-jst.git
[submodule "submodules/vim-coffee-script"]
	path = submodules/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "submodules/vim-eco"]
	path = submodules/vim-eco
	url = https://github.com/AndrewRadev/vim-eco.git
[submodule "submodules/vim-commentary"]
	path = submodules/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "submodules/vim-colors-solarized"]
	path = submodules/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "submodules/python-syntax"]
	path = submodules/python-syntax
	url = https://github.com/hdima/python-syntax.git
